@media (max-width: 950px) {
    #page-home {
        background-position-x: 100vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results main .cards {
        grid-template-columns: 1fr 1fr;
    }

    #page-create-point .itens-grid {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    #page-create-point .itens-grid img {
        height: 70px;
        width: 100%;
    }

    #page-create-point form .field-group {
        flex-direction: column;
    }

    form .field-group {
        gap: 0;
    }

}

@media screen and (max-width: 628px){
    #page-home main h1 {
        font-size: 40px;
    }

    #page-home main p {
        font-size: 18px;
    }

    #page-home header a  {
        width: 100%;
        justify-content: center;
    }
    #page-search-results main .cards {
        grid-template-columns: 1fr;
    }

    #page-create-point .itens-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #page-create-point header {
        flex-direction: column;
        gap: 25px;
    }

    #page-create-point form {
        padding: 40px 30px;
    }

    form button {
        display: block;
        margin: 40px auto auto;
    }

    form fieldset legend {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
}